<template name="sideNav">
  <nav>
    <ul id="slide-out" class="side-nav">
      <li><a href="#"></a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Your Channels</a>
            <div class="collapsible-body">
              <ul>
                {{#each channels}}
                  {{>test}}
                {{/each}}
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </nav>
</template>
