<template name="sideNav">
  <nav>
    <ul id="slide-out" class="side-nav">
      {{#if currentUser}}
        <li><a href="#" class="logout">Logout</a></li>
      {{else}}
        <li><a href="/login" class="login">Login/Signup</a></li>
      {{/if}}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Your Channels</a>
            <div class="collapsible-body">
              <ul>
                {{#each channelsOwned}}
                  <li><a href="{{pathFor '/channel/:shortname' shortname=this.shortName}}">{{shortName}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Following Channels</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#">test</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </nav>
</template>
